# Object files
*.o
*.ko
*.obj
*.elf
*.swp
*.dbg
*.syso

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.log

# Build directory and files
*.depend
*.layout
.vscode/ipch/
Data/
build/
build.*/
bin/
obj/
Debug/
Release/
